# Ignore files with .pyc and .pyo extensions
*.pyc
*.pyo

# Ignore Django migration files
*/migrations/*

# Ignore Python virtual environment
venv/

# Ignore Python bytecode cache
__pycache__/


# Ignore .env files
.env


# Ignore Celery log files
celery.log

# Ignore Celery Beat log files
beat.log

# Ignore SQLite database file
db.sqlite3